* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(175, 145, 145, 0.87);
  background-color: rgb(230, 228, 228);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
} */
/* 
body {
  background-color: #08250f;
  width: 100vw;
  height: 100vh;
} */

/* header,
footer {
  background-color: #08250f;
  height: 8vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .left-nav, .center-nav, .right-nav {
  display: flex;
  justify-content: center;
  width: 10vw;
  max-width: 33%;
  max-height: 100%;
} */

/* .left-nav {
  justify-content: center;
  width: 25vw;
}

.left-nav p {
  transform: rotate(90deg);
}

.right-nav {
  justify-content: center;
  width: 25vw;
}

.right-nav img {
  height: auto;
  max-width: 8vw;
  width: auto;
  display: block;
  object-fit: contain;
  filter: invert(100%);
}

.right-nav p {
  border: 2px solid white;
  border-radius: 20px;
}

.center-nav img {
  aspect-ratio: 550 / 300;
  width: 18vw;
  height: auto;
}

main {
  background-color: white;
  flex: 1;
}

.navbar {
  width: 100%;
  background-color: #08250f;
}

.card-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  width: auto;
}

.card {
  width: 80vw;
   height: auto; 
  height: 200px;
  background-color: #114e1f;
  margin: 10px;
  border-radius: 20px;
}

.card-wrapper div:first-of-type {
  margin-top: 30px;
}

.card-wrapper div:last-of-type {
  margin-bottom: 30px;
} */
/* 
footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 10vh;
  padding: 1vh 0 0 0;
}

footer p:nth-of-type(1) {
  font-weight: 600;
  font-size: large;
}

footer p:nth-of-type(2) {
  font-weight: 600;
  font-size: small;
} */
